name: Release

permissions:
  id-token: write
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - CHANGELOG.md

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup NPM
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - run: npm publish

      - name: Get the latest version
        id: latest
        uses: miniscruff/changie-action@v2
        with:
          version: latest
          args: latest

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: ".changes/${{ steps.latest.outputs.output }}.md"
          tag_name: "${{ steps.latest.outputs.output }}"
          files: dist/*
